#button-red {
    background-color: #ff0000;
    color:#333333
}

#button-green {
    background-color: #00ff00;
    color: #867f7f;
}

#button-blue {
    background-color: #0000ff;
    color: #eee8e8;
}