.main-a hover{
    font-size: 20px;
    font-weight: 900px;
    color:green;
}

.main-a active{
    font-size: 12px;
    font-weight: 100px;
    color:blueviolet;
}


table, th,td{
    border: green 5px solid;
    border-collapse: collapse;
}