#myButton {
    color: red;  
}

.blueButton {
    color: blue;  
}






#div1 {
    background-color: rgb(240, 128, 128); 
    color: rgb(0, 0, 0); 
}

#div2 {
    background-color: rgb(144, 238, 144); 
    color: rgb(0, 0, 0); 
}

#div3 {
    background-color: rgb(173, 216, 230); 
    color: rgb(0, 0, 0); 
}

#div4 {
    background-color: rgb(255, 223, 186); 
    color: rgb(0, 0, 0); 
}

#div5 {
    background-color: rgb(221, 160, 221);
    color: rgb(0, 0, 0); 
}
